@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Whole Project CSS */
:root {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', arial, sans-serif;
}

div#title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div#title {
    display: flex;
    margin-top: 20px;
}

h1 {
    font-size: 96px;
}

h2{
    font-size: 32px;
    z-index: 1;
    margin-top: -25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 38px white inset !important;
    font-size: 18px;
}

/* Whole Project End */

/* Index/Google Image Start */

div.bar {
    margin: 0 auto;
    width: 50%;
    border-radius: 33px;
    border:1px solid #dcdcdc;
    text-align: left;
    font-size: 18px;
    padding: 9px 0px 9px 0; 
}

@media only screen and (max-width:600px) {
    div.bar {
      width: 80%;
      padding: 0;
    }
}

input.searchbar {
    height:34px !important;
    line-height: 34px;
    border:none;
    border-radius: 33px;
    font-size:18px;
    outline: none;
    width: 50%;
    padding: 9px 0px 9px 5px; 
}

#text {
    margin: 50%;
}

div.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

div.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

.button {
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
}

.button:hover {
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
}

.button:focus {
    border:1px solid #4885ed;
    padding: 9px 19px;
}

/* Index/Google Image End */

/* Advanced form begin */

div#advanced-search-top-bar {
    width: 100%;
    z-index: 10;
    background: #f1f1f1;
    margin-left: 0!important;
    margin-right: 0!important;
    white-space: nowrap;
    height: 60px;
}

ul.advanced-ul {
    text-align: right;
}

li.advanced-li {
    text-align: right;
    list-style-position: inside;
    direction: rtl;
}

.container {
    list-style-type: none;
    padding: 0px; 
}

div.advanced-label {
    float: left;
    width: 25%;
    margin-top: 6px;
}

div.advanced-input {
    margin-top: 6px;
    width: 55%;
    float: left;
    border-radius: 4px;
}

div.advanced-input input {
    margin-top: 6px;
    width: 75%;
    float: left;
    outline: 1px solid black;
    border-radius: 4px;
}

@media only screen and (max-width:600px) {
    
    div.advanced-label,
    div.advanced-input,
    input[type=submit] {
      width: 90%;
      margin-top: 0;
    }
}

div.advanced-input [type=text]:focus {
    outline: 1px solid blue;
    border-radius: 4px;
}

button#advanced-button {
    background-color: blue;
    color: white;
    height: 30px;
    cursor: pointer;
    text-align: center;
    float: center;
    margin-top: 5px;
    border-radius: 4px;
}

.advanced-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Advanced Form End */